.container {
  padding: 0;
  max-width: 1600px;
  margin: auto;
}

.header {
  display: flex;
  overflow: hidden;
  background-color: #329da8;
  padding: 20px 10px;
  text-align: center;
}

.header a {
  color: #f1f1f1;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    display: block;
    text-align: center;
  }
}

.main {
  padding: 0 22px;
  margin: 0 auto;
}

.answersContainer {
  padding: 0 0 20px 0;
}

.flexContainer {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  padding: 10px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 0;
  margin: 0 10px 20px;
  max-width: 500px;
  font-size: 18px;
  color: #329da8;
}

.inputContainer input {
  padding: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 10px;
  margin: 0 0 10px;
  min-width: 180px;
}

.inputContainer select {
  padding: 8px;
  min-width: 180px;
}

.familyName {
  margin: 0 0 10px;
  font-weight: bold;
}

.submit {
  background-color: #329da8;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 0;
  color: #eee;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  padding: 10px 40px;
  display: block;
  margin: auto;
}

.submit:hover {
  opacity: 0.8;
}
